{% extends "base.html" %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<br>
			<br>
			<h1 class="text-center">502</h1>
			<h2 class="text-center">Gateway Unable to Transport Autobots.</h2>
		</div>
	</div>
</div>


{% endblock %}

{% block scripts %}
{% endblock %}
