* {
  display: border-box;
}

body {
  background: repeating-conic-gradient(
      from var(--conic-rotation, 0) at 105vw 60vh,
      #a81432 0 6deg,
      #890f23 6deg 12deg
    );
  background-size: contain;
  font-family: Roboto-regular;
}

.enlightenment-bot {
  background: url("/themes/cybears/static/img/4bots_300dpi.png") no-repeat 50% fixed;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -99;
  mix-blend-mode: luminosity;
}

body > footer.footer > div {
  bottom: 1px;
  width: 100%;
  height: auto;
}

h1 {
  font-family: "Shojumaru", cursive;
  color: white;
  font-size: 1.4rem;
}

h1::before {
  content: "./";
}

.enlightenment-overlay {
  margin: 2rem;
  font-family: "Shojumaru", cursive;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 0%, 0%, 0.4);
  border-radius: 0.5rem;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);

  button:active,
  button:focus {
    outline: none;
  }

  h1 {
    margin: 1.5rem;
  }
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  font-family: "Shojumaru", cursive;
  font-size: 1.2rem;
  width: 100%;
  background-color: #eee;
  color: white;
  background-color: hsla(350, 80%, 30%, 0.7);
  cursor: pointer;
  padding: 18px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #dc3545;
}

.accordion:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  text-align: justify;
  width: 100%;
  padding: 0 18px;
  color: white;
  background-color: #890f23;
  overflow-y: scroll;
  scrollbar-width: thin;
  overflow-x: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;

  h3 {
    font-family: "Asian Hiro";
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  ul,
  p {
    margin-top: 1rem;
  }

  a:link,
  a:visited,
  a:hover,
  a:active {
    text-decoration: underline !important;
  }
}

.link-container {
  margin: 2rem 0;
  text-align: center;

  a {
    margin: 0.2rem;
  }
}

.get-hyped {
  color: white;
  background: none;
  border: none;
}

.link-separator {
  color: white;
  font-size: 1.2rem;
}

.enlightenment-overlay a {
  color: white;
  text-decoration: none;
}

.enlightenment-overlay a:hover {
  text-decoration: underline;
}

.cybear-footer,
footer.footer div.ctfd.container.text-center {
  display: none;
}

.footer {
  display: block;
  position: absolute;
  bottom: 120px;
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 1.6rem;
  }

  h1::before {
    content: "/path/to/";
  }
}
