{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <label for="options">Alliance</label>
    <input type="radio" name="options" id="option1" value="CYBEARS" checked="checked"> Cybears 
    <input type="radio" name="options" id="option2" value="DECEPTICOMTSS"> DecepticomTSS

    <input type="submit" value="Register">
  </form>
{% endblock %}
