<!DOCTYPE html>
<html>
<head>
	<title>{{ get_ctf_name() }}</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="shortcut icon" href="{{ url_for('views.themes', theme=get_ctf_theme(), path='img/favicon.ico') }}"
		  type="image/x-icon">
	<link rel="icon" href="{{ url_for('views.themes', theme=get_ctf_theme(), path='img/favicon.ico') }}" type="image/x-icon">
	<link rel="stylesheet"
		  href="{{ url_for('views.themes', theme=get_ctf_theme(), path='css/vendor/bootstrap.min.css') }}">
	<link rel="stylesheet"
		  href="{{ url_for('views.themes', theme=get_ctf_theme(), path='css/vendor/font-awesome/fontawesome-fonts.css') }}"
		  type='text/css'>
	<link rel="stylesheet"
		  href="{{ url_for('views.themes', theme=get_ctf_theme(), path='css/vendor/font-awesome/fontawesome-all.min.css') }}"
		  type='text/css'>
	<link href='{{ url_for('views.themes', theme=get_ctf_theme(), path='css/vendor/font.css') }}' rel='stylesheet'
		  type='text/css'>
	<link rel="stylesheet" href="{{ url_for('views.themes', theme=get_ctf_theme(), path='css/jumbotron.css') }}">
	<link rel="stylesheet" href="{{ url_for('views.themes', theme=get_ctf_theme(), path='css/sticky-footer.css') }}">
	<link rel="stylesheet" href="{{ url_for('views.themes', theme=get_ctf_theme(), path='css/cybears.css') }}">
	<link rel="stylesheet" href="{{ url_for('views.themes', theme=get_ctf_theme(), path='css/base.css') }}">
	{% block stylesheets %}{% endblock %}
	{% for stylesheet in get_registered_stylesheets() %}
		{% if stylesheet.startswith('http') %}
			<link rel="stylesheet" type="text/css" href="{{ stylesheet }}">
		{% elif request.script_root %}
			<link rel="stylesheet" type="text/css" href="{{ request.script_root }}/{{ stylesheet }}">
		{% else %}
			<link rel="stylesheet" type="text/css" href="{{ stylesheet }}">
		{% endif %}
	{% endfor %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('views.custom_css') }}">
	<script src="{{ url_for('views.themes', theme=get_ctf_theme(), path='js/vendor/promise-polyfill.min.js') }}"></script>
	<script src="{{ url_for('views.themes', theme=get_ctf_theme(), path='js/vendor/fetch.min.js') }}"></script>
	<script src="{{ url_for('views.themes', theme='core', path='js/CTFd.js') }}"></script>
	<script src="{{ url_for('views.themes', theme=get_ctf_theme(), path='js/vendor/moment.min.js') }}"></script>
	<script src="{{ url_for('views.themes', theme=get_ctf_theme(), path='js/vendor/nunjucks.min.js') }}"></script>
	<script src="{{ url_for('views.themes', theme=get_ctf_theme(), path='js/vendor/socket.io.min.js') }}"></script>
	<script type="text/javascript">
        var script_root = "{{ request.script_root }}";
        var csrf_nonce = "{{ nonce }}";
        var user_mode = "{{ get_config('user_mode') }}";
        CTFd.options.urlRoot = script_root;
        CTFd.options.csrfNonce = csrf_nonce;
	</script>

</head>
<body>

	<!-- consider this for the navbar background is desired: background-color: #111111; -->
	<nav class="navbar navbar-expand-md navbar-dark" style="padding-bottom: 0.8em; padding-top: 0.8em;">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#base-navbars"
				aria-controls="base-navbars" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
			<div class="collapse navbar-collapse" id="base-navbars">
				<ul class="navbar-nav mr-auto d-block d-sm-flex d-md-flex" style="flex-direction:row; flex-wrap: wrap;">
					{% for page in get_user_page_menu_bar() %}
						{% if page.route.startswith('http://') or page.route.startswith('https://') %}
							<li class="nav-item">
								<a class="nav-link" href="{{ page.route }}"> [{{ page.title }}] </a>
							</li>
						{% else %}
							<li class="nav-item">
								<a class="nav-link"
									href="{{ url_for('views.static_html', route=page.route) }}"> [{{ page.title }}] </a>
							</li>
						{% endif %}
					{% endfor %}
					{% if name is defined %}
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('challenges.listing') }}"> [Challenges] </a>
						</li>
					{% endif %}
					{% if get_config('account_visibility') != 'admins' %}
						<!-- <li class="nav-item">
							<a class="nav-link" href="{{ url_for('users.listing') }}"> [Users] </a>
						</li> -->
						{% if get_config('user_mode') == 'teams' %}
							<!-- <li class="nav-item">
								<a class="nav-link" href="{{ url_for('teams.listing') }}"> [Teams] </a>
							</li> -->
						{% endif %}
					{% endif %}
					{% if get_config('score_visibility') != 'admins' %}
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('scoreboard.listing') }}"> [Scoreboard] </a>
						</li>
					{% endif %}
					<li class="nav-item"></li><li class="nav-item"></li>
				</ul>

				<hr class="d-sm-flex d-md-flex d-lg-none">

				<div class="thefallof">the fall of</div>
				<div class="cybeartron_heading"><a href="/">Cybeartron</a></div>

				<br><hr class="d-sm-flex d-md-flex d-lg-none">

				<ul class="navbar-nav ml-md-auto d-block d-sm-flex d-md-flex" style="flex-direction:row-reverse; flex-wrap: wrap;">
					{% if name is defined %}
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('auth.logout') }}"> [Logout] </a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('views.settings') }}"> [Settings] </a>
						</li>
						<!-- <li class="nav-item">
							<a class="nav-link" href="{{ url_for('users.private') }}"> [Profile] </a>
						</li> -->
						{% if config.user_mode() == "teams" %}
							<!-- <li class="nav-item">
								<a class="nav-link" href="{{ url_for('teams.private') }}"> [Team] </a>
							</li> -->
							<li class="nav-item">
								<a class="nav-link" href="{{ url_for('teams.listing') }}"> [Teams] </a>
							</li>
						{% endif %}
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('views.notifications') }}"> [Notifications] </a>
						</li>
						{% if type == 'admin' %}
							<li class="nav-item">
								<a class="nav-link" href="{{ url_for('admin.view') }}"> [Admin] </a>
							</li>
						{% endif %}
					{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{{ url_for('auth.login') }}"> [Login] </a>
						</li>
						{% if registration_visible() %}
							<li class="nav-item">
								<span class="nav-link d-none d-md-block d-lg-block"> . (Q '.')-O ` </span>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="{{ url_for('auth.register') }}"> [Register] </a>
							</li>
						{% endif %}
					{% endif %}
				</ul>
			</div>
	</nav>
	<main role="main">
		{% block content %}
		{% endblock %}
	</main>

	<footer class="footer mt-5">
		<div class="container text-center">
			<div class="text-muted" style="font-size: 90%;">
				Sponsored by <a href="https://asd.gov.au" style="text-decoration: none!important;">
				<img height="40px" src="{{ url_for('views.themes', theme=get_ctf_theme(), path='img/asd-logo.png') }}"></img>
				</a> <img height="28px" src="{{ url_for('views.themes', theme=get_ctf_theme(), path='img/asd-code.png') }}"></img>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <!-- apologies to those who know html -->
			</div>
		</div>
	</footer>


	<script src="{{ url_for('views.themes', theme=get_ctf_theme(), path='js/vendor/jquery.min.js') }}"></script>
	<script src="{{ url_for('views.themes', theme=get_ctf_theme(), path='js/vendor/markdown-it.min.js') }}"></script>
	<script src="{{ url_for('views.themes', theme=get_ctf_theme(), path='js/vendor/bootstrap.bundle.min.js') }}"></script>
	<script src="{{ url_for('views.themes', theme=get_ctf_theme(), path='js/style.js') }}"></script>
	<script src="{{ url_for('views.themes', theme=get_ctf_theme(), path='js/utils.js') }}"></script>
	<script src="{{ url_for('views.themes', theme=get_ctf_theme(), path='js/ezq.js') }}"></script>
	<script src="{{ url_for('views.themes', theme=get_ctf_theme(), path='js/events.js') }}"></script>
	{% block scripts %}
	{% endblock %}

	{% for script in get_registered_scripts() %}
	{% if script.startswith('http') %}
	<script src="{{ script }}"></script>
	{% elif request.script_root %}
	<script src="{{ request.script_root }}/{{ script }}"></script>
	{% else %}
	<script src="{{ script }}"></script>
	{% endif %}
	{% endfor %}
</body>
</html>
