<link
  rel="stylesheet"
  href="themes/cybears/static/css/enlightenment-landing.min.css"
  type="text/css"
/>

<div class="enlightenment-bot"></div>

<div class="enlightenment-container">
  <div class="enlightenment-landing">
    <div class="enlightenment-overlay">
      <h1>enlightenment</h1>
      <button class="accordion">Story</button>
      <div id="story" class="panel">
        <h3>Cybears /path/to/enlightenment</h3>
        <p>
          Sifting through the wreckage and destruction of the Cyberpocalypse of
          2020, the Cybears stumble upon an ancient space bridge. Thinking that
          anywhere would be better than Cybeartron, they power it up and step
          through to the unknown. They enter another time and place, the world
          of Wu Kong Prime, the monkey-bot king, and his disciples Sanditron,
          Pigbot and Trypitakon. The monkey-bot king invites the Cybears to join
          them on their path to enlightenment. But first the Cybears will need
          to solve a series of puzzles and challenges to prove their worth...
        </p>
      </div>
      <button class="accordion">Overview</button>
      <div id="overview" class="panel">
        <p>
          The BSides Canberra 2021 CTF will run on-site at the conference in the
          competitions space on 9-10 April 2021. The CTF will commence at 10:00
          local time on 9 April (00:00UTC) and finish at 16:00 on 10 April
          (06:00UTC). Pre-registration for users and teams will open prior to
          the event so we don't
          <a
            href="https://en.wikipedia.org/wiki/Halt_and_Catch_Fire_(computing)"
            target="_blank"
            rel="noreferrer noopener"
            >HCF</a
          >
          when the competition starts.
        </p>
        <p>
          The CTF will be run mostly online, however there will be some
          challenges which are only available to BSides Canberra 2021 ticket
          holders. We welcome participation from non-ticket-holder teams but
          unfortunately cannot award them prizes for trophy challenges or final
          ranking placements.
        </p>
        <p>
          We'll be running an event Discord server which can be joined
          <a
            href="https://discord.gg/ak5HYBy2Km"
            target="_blank"
            rel="noreferrer noopener"
            >here.</a
          >
          The server has a moderate moderation policy set meaning that accounts
          must have a verified email attached and have existed for more than 5
          minutes to speak. There is a support bot which you can use to make
          tickets.
        </p>
      </div>
      <button class="accordion">Rules</button>
      <div id="rules" class="panel">
        <ul>
          <li>
            You may not do anything to diminish the competition experience for
            other players on the system; if you are worried that you might break
            something, ask an admin.
          </li>
          <li>No bullying or harrassment of any kind (online or in person).</li>
          <li>Do not target or hack other contestants.</li>
          <li>
            Do not target or hack the registration or scoring infrastructure
            (ctf.cybears.io).
          </li>
          <li>
            There are no challenges that require you to scan or brute force the
            infrastructure. Please don't do this. If you think a challenge
            requires it, please come and talk to us. If you believe you have
            accidentally DOS'd the infrastructure, please let us know.
          </li>
          <li>
            The Cybears admins have the authority to ban or disqualify
            contestants that do not abide by the rules, or significantly detract
            from the enjoyment of other contestants, admins or conference
            attendees.
          </li>
          <li>The Cybears admins decisions are final.</li>
          <li>
            In the rare event of a tie for prizes, the tied prizes will be
            pooled and then halved. For a 3rd place tie, the prize pool will be
            split.
          </li>
          <li>
            You may be connecting to an untrusted system or systems. While the
            Cybears team has made every effort to create a stable and safe
            challenge environment, they are ultimately not responsible for any
            damage to contestants computers or equipment. You should take
            adequate precautions (e.g. connecting from a virtual machine).
          </li>
        </ul>
      </div>
      <button class="accordion">Prizes</button>
      <div id="prizes" class="panel">
        <p>Podium prizes:</p>
        <ul>
          <li>1st place - $1000</li>
          <li>2nd place - $500</li>
          <li>3rd place - $250</li>
        </ul>
        <p>
          Certain challenges are denoted as "trophy" (🏆) challenges. The first
          verified team to capture <strong>first blood</strong> on these
          challenges will be awarded a special commemorative trophy as well as a
          small prize. These prizes may be presented throughout the competition.
        </p>
        <p>
          Only BSides Canberra 2021 ticket holders will be eligible for the
          podium and trophy challenge prizes. Unverified teams will be passed
          over in the rankings when determining the placements for podium
          prizes. It is important to verify your team on our Discord server and
          be available to attend the conference closing ceremony (extenuating
          circumstances will be considered).
        </p>
      </div>
      <div class="link-container">
        <a class="register-link" href="/register">REGISTER</a>
        <span class="link-separator">+</span>
        <a
          class="discord-link"
          href="https://discord.gg/ak5HYBy2Km"
          target="_blank"
          rel="noreferrer noopener"
          >JOIN DISCORD</a
        >
        <span class="link-separator">+</span>
        <button
          class="get-hyped"
          onClick="MIDIjs.play('themes/cybears/static/midi/R29kaWVnbw==.mid');"
        >
          <i class="fas fa-play"></i> Get hyped!
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  let accHeading = document.querySelectorAll(".accordion");
  let accPanel = document.querySelectorAll(".panel");

  for (let i = 0; i < accHeading.length; i++) {
    // Execute whenever an accordion is clicked
    accHeading[i].onclick = function () {
      if (this.nextElementSibling.style.maxHeight) {
        hidePanels(); // Hide All open Panels
      } else {
        showPanel(this); // Show the panel
      }
    };
  }

  // Toggle the story panel "active" by default
  document.getElementById("story").previousElementSibling.onclick();

  // Function to Show a Panel
  function showPanel(elem) {
    hidePanels();
    elem.classList.add("active");
    elem.nextElementSibling.style.maxHeight =
      elem.nextElementSibling.scrollHeight + "px";
  }

  // Function to Hide all shown Panels
  function hidePanels() {
    for (let i = 0; i < accPanel.length; i++) {
      accPanel[i].style.maxHeight = null;
      accHeading[i].classList.remove("active");
    }
  }
</script>
<script type="text/javascript" src="//www.midijs.net/lib/midi.js"></script>
