{% extends "base.html" %}

{% block stylesheets %}
{% endblock %}

{% block content %}

{% if user is not defined and team.hidden %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<br>
			<h1 class="text-center">403</h1>
			<h2 class="text-center">Authorization Failed.</h2>
			<h2 class="text-center">Access denied.</h2>
			<h2 class="text-center">Wrong password: hunter2</h2>
		</div>
	</div>
</div>

{% else %}

<div class="jumbotron">
	<div class="container">
		<h1 class="cybeartron preslash postslash" id="team-id" team-id="{{ team.id }}">{{ team.name }}</h1>
		{% if team.oauth_id %}
			<a href="https://majorleaguecyber.org/t/{{ team.name }}">
				<h3><span class="badge badge-primary">Official</span></h3>
			</a>
		{% endif %}
		<h2 id="team-place" class="text-center">
			{# This intentionally hides the team's place when scores are hidden because this can be their internal profile
			and we don't want to leak their place in the CTF. #}
			{# Public page hiding is done at the route level #}
			{% if scores_visible() %}
				{% if place %}
					{{ place }}
					<small>place</small>
				{% endif %}
			{% endif %}
		</h2>
		<h2 id="team-score" class="text-center">
			{% if score %}
				{{ score }}
				<small>points</small>
			{% endif %}
		</h2>
	</div>
</div>
<div class="container">
	{% if errors %}
	<div id='errors' class="row">
	{% for error in errors %}
		<h1>{{ error }}</h1>
	{% endfor %}
	</div>
	{% else %}

	{% if score_frozen %}
	<div class="row">
		<h1 class="text-center">Scoreboard has been frozen.</h1>
	</div>
	{% endif %}

	<br>

	<div class="row">
		<div class="col-md-12">
			<h3>Members</h3>
			<table class="table table-striped">
				<thead>
				<tr>
					<td><b>User Name</b></td>
					<td><b>Score</b></td>
				</tr>
				</thead>
				<tbody>
				{% for member in team.members %}
					<tr>
						<td>
							<a href="{{ url_for('users.public', user_id=member.id) }}">
								{{ member.name }}
							</a>
						</td>
						<td>{{ member.score }}</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>

	{% if solves %}
	<div id="keys-pie-graph" class="w-50 mr-0 pr-0 float-left d-none d-md-block d-lg-block">
		<div class="text-center">
			<i class="fas fa-circle-notch fa-spin fa-3x fa-fw spinner"></i>
		</div>
	</div>
	<div id="categories-pie-graph" class="w-50 mr-0 pr-0 float-left d-none d-md-block d-lg-block">
		<div class="text-center">
			<i class="fas fa-circle-notch fa-spin fa-3x fa-fw spinner"></i>
		</div>
	</div>
	<br class="clearfix">
	<div id="score-graph" class="w-100 float-right d-none d-md-block d-lg-block">
		<div class="text-center">
			<i class="fas fa-circle-notch fa-spin fa-3x fa-fw spinner"></i>
		</div>
	</div>

	<div class="clearfix"></div>

	{% if awards %}
	<div class="row">
		<div class="col-md-12">
			<h3>Awards</h3>
		</div>
		{% for award in awards %}
				<div class="col-md-3 col-sm-6">
					<p class="text-center"><strong>{{ award.name }}</strong></p>
					{% if award.category %}<p class="text-center">{{ award.category }}</p>{% endif %}
					{% if award.description %}<p class="text-center">{{ award.description }}</p>{% endif %}
					<p class="text-center">{{ award.value }}</p>
				</div>
		{% endfor %}
	</div>

	<br>
	{% endif %}

	<div class="row">
		<div class="col-md-12">
			<h3>Solves</h3>
			<table class="table table-striped">
				<thead>
					<tr>
						<td><b>Challenge</b></td>
						<td class="d-none d-md-block d-lg-block"><b>Category</b></td>
						<td><b>Value</b></td>
						<td><b>Time</b></td>
					</tr>
				</thead>
				<tbody>
				{% for solve in solves %}
					<tr>
						<td><a href="{{ url_for('challenges.listing') }}#{{ solve.challenge.name }}">{{ solve.challenge.name }}</a></td>
						<td class="d-none d-md-block d-lg-block">{{ solve.challenge.category }}</td><td>{{ solve.challenge.value }}</td>
						<td class="solve-time">
							<script>
								document.write( moment("{{ solve.date | isoformat }}").local().format('MMMM Do, h:mm:ss A'))
							</script>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	{% else %}
		<div class="text-center"><h3 class="spinner-error">No solves yet</h3></div>
	{% endif %}
	{% endif %}
</div>

{% endif %}

{% endblock %}

{% block scripts %}

	<script>
		var team_id = {{ team.id }};
		var team_name = {{ team.name | tojson }};
		{% if user %}
		var team_self = {{ (user.team_id == team.id) | tojson }};
		{% else %}
		var team_self = false;
		{% endif %}
		var team_account_id = team_self ? "me" : team_id;
	</script>
	<script src="{{ url_for('views.themes', theme=get_ctf_theme(), path='js/vendor/plotly.min.js') }}"></script>
	<script src="{{ url_for('views.themes', theme=get_ctf_theme(), path='js/utils.js') }}"></script>
	{% if solves %}
	<script src="{{ url_for('views.themes', theme=get_ctf_theme(), path='js/team.js') }}"></script>
	{% endif %}

{% endblock %}
