{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}FLAG{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p> cybears{forward secrecy? where we're going, we don't need forward secrecy} </p>
{% endblock %}
